.logo {
  height: 3.25rem;
  margin-left: 3.25rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    color: var(--color-grey-dark-3);
    font-size: inherit;
    border: none;
    background-color: var(--color-grey-light-3);
    border-radius: 100px;
    width: 90%;
    padding: 0.7rem 2rem;
    outline: none;
    transition: all 0.2s;
    margin-right: -3rem;

    &:focus {
      width: 100%;
    }

    &::placeholder {
      color: var(--color-grey-light-4);
    }
  }
  &__btn {
    border: none;
    background-color: var(--color-grey-light-3);
  }
  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-3);
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;
  cursor: pointer;

  & > * {
    align-items: center;
    display: flex;
    padding: 0 1.25rem;
  }
  & > *:hover {
    background-color: var(--color-grey-light-3);
  }
  &__icon {
    fill: var(--color-grey-dark-2);
    position: relative;

    &--svg {
      height: 2.25rem;
      width: 2.25rem;
    }
    &--noti {
      color: var(--color-grey-light-1);
      font-size: 1.2rem;
      background-color: var(--color-primary);
      border-radius: 50%;
      height: 1.75rem;
      width: 1.75rem;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 1.4rem;
      right: 0.4rem;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    &--img {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1.2rem;
    }
    &--name {
      margin-right: 1.2rem;
    }
  }
}

//? Side bar navigation
.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.8rem;

  &__list {
    list-style: none;
    position: relative;

    &:first-child {
      background-color: var(--color-primary);
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &::before {
      content: "";
      background-color: var(--color-primary);
      height: 100%;
      width: 3px;
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleY(0);

      transition: transform 0.2s,
        width 0.4s cubic-bezier(1, -0.12, 0, 1.25) 0.2s;
    }

    &:hover::before {
      width: 100%;
      transform: scaleY(1);
    }
  }
  &__link:visited,
  &__link:link {
    text-decoration: none;
    color: currentColor;
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    position: relative;
    z-index: 1;
  }
  &__link:active {
    background-color: var(--color-primary-light);
  }

  &__icons {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 1.5rem;
  }
}

.copyright {
  align-self: center;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

//? Gallery
.gallery {
  display: flex;
  &__img {
    max-width: 100%;
    display: block;
  }
}

.overview {
  background-color: #fff;
  display: flex;
  align-items: center;
  &__title {
    text-transform: uppercase;
    padding: 1.6rem 3.2rem;
    font-weight: 300;
    font-size: 2.25rem;
    letter-spacing: 0.125rem;
  }
  &__stars {
    display: flex;
    margin-right: auto;

    &-icon {
      fill: var(--color-primary);
      height: 1.75rem;
      width: 1.75rem;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    &-icon {
      fill: var(--color-primary);
      height: 1.75rem;
      width: 1.75rem;
      margin-right: 0.7rem;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    align-self: stretch;
    color: var(--color-grey-light-1);
    padding: 0 2.4rem;

    &-score {
      font-size: 2.2rem;
      font-weight: 300;
      margin-bottom: -3px;
    }
    &-votes {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

//! Button animation
.button-animation {
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-primary);
  letter-spacing: -0.7px;
  background-color: transparent;
  letter-spacing: 1.05px;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;

  &:hover {
    color: var(--color-grey-dark-1);
  }
  &:focus {
    animation: buttonAnimation 1s infinite;
  }
}

//! Scale and Shadow animation
@keyframes buttonAnimation {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.detail {
}
.desc {
  &__text {
  }
}

.list {
  &__item {
  }
}

.recommend {
  &__text {
  }
  &__freinds {
  }
  &__photos {
  }
}
