.container {
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  margin: 7rem auto;
  box-shadow: var(--box-shadow-dark);

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
  }
  @media only screen and (max-width: $bp-smallest) {
  }
}
.header {
  height: 7rem;
  background-color: var(--color-grey-light-1);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--line);
  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}
.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    max-width: 100%;
    flex-direction: column;
  }
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
  border-bottom: var(--line);
}
.detail {
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
  font-size: 1.4rem;
  background-color: var(--color-grey-light-2);

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    gap: 2.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}
.desc {
  flex: 0 0 60%;
  padding: 3rem;
  background-color: var(--color-white);
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  }
}
.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
