.container {
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  margin: 7rem auto;
  box-shadow: var(--box-shadow-dark);
}
.header {
  height: 7rem;
  background-color: var(--color-grey-light-1);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--line);
}
.content {
  display: flex;
  height: 100vh;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
  border-bottom: var(--line);
}
.detail {
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
}
.desc {
  flex: 0 0 60%;
  padding: 3rem;
  font-size: 1.4rem;
  background-color: var(--color-white);
}
.user-reviews {
  background-color: yellowgreen;
  flex: 1;
  padding: 3rem;
}
